<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   add
   <form action="/bookadd" method="post">
<table>
    <tr><td>Title:</td><td><input type="text" name="title"/></td></tr>
    <tr><td>Image :</td>
    <td><input type="file" name="image"/></td></tr>
    <tr>
        <td></td>
        <td><input type="submit"/></td>
    </tr>
</table>
</body>
</html>