<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    home


    <img src="http://localhost:9090/view/flower.jpeg" width="123px" height="400px"/>


book

<ul>
    <li><a href="/nbook">New Book</a></li>
    <li><a href="/vbook">View Book</a></li>
</ul>
</body>
</html>