<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/emp/add" method="post">
        <ul>
                <li>Id:<input type="text" name="eid"/></li>
                <li>
                Name:<input type="text" name="uname"/>
            </li>
            <li>Salary:<input type="text" name="salary"/></li>
            <li><input type="submit" id="btn"/></li>
            </ul>
            </form>

</body>
</html>