<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/emp/updatecode/<%=emp[0].eid%>" method="post">
    <table>
            <tr>
                    <td>eid:</td>
                    <td><%=emp[0].eid%></td><tr>




                         
        <tr>
            <td>Name :</td>
            <td><input type="text" name="name" value="<%=emp[0].name%>"/></td>

            
        </tr>
        <tr>
            <td>Salary :</td>
            <td><input type="text" name="salary" value="<%=emp[0].salary%>"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="btn" value="Update"/> </td>
        </tr>
    </table>
    </form>
</body>
</html>