<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    View Emp
<table>
   <tr>
       <td>Id</td>
       <td>Name</td>
       <td>Salary</td>
   </tr>
   <%
        for(var i in data)
        {
        %>
        <tr>
            <td><%=data[i].eid%></td>
            <td><%=data[i].name%></td>
            <td><%=data[i].salary%></td>
            <td><a href="/emp/edit/<%=data[i].eid%>">Edit</a></td>
        </tr>
        <%
    }
   %>
</table>
</body>
</html>