<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Permenant Employees
    <ul>
        <li><a href="/emp/pemp/e001">e001</a></li>
        <li><a href="/emp/pemp/e002">e002</a></li>
        <li><a href="/emp/pemp/e003">eoo3</a></li>
        <li><a href="/emp/pemp/e004">eoo4</a></li>
   </ul>
</body>
</html>