<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    View Products
    <table>
        <thead>
            <tr>
                <th>Product Name </th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <% 
            for(var i=0;i<pr.length;i++)
            {
            
            %>
            <tr><td><%=pr.pname%></td>
            <td><%=pr.price%></td>
            <td><%=pr.qty%></td>
        </tr>
        <%
    }
        %>
        </tbody>
        
    </table>
</body>
</html>